<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org"> Ruby on Rails Tutorial</a>
    by <%= link_to "Nguyen Trung Hieu", "https://www.facebook.com/hieunt142" %>
  </small>
  
  <nav>
    <ul>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "https://www.facebook.com/hieunt142" %></li>
    </ul>
  </nav>
</footer>